@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #0A0A52;
  font-size: 15px;
  color: #fff;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

/*滚动条的轨道*/
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 0;
}

/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #999;
  border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

.span12 {
  width: 100% !important;
}

.span11 {
  width: 91.66666667% !important;
}

.span10 {
  width: 83.33333333% !important;
}

.span9 {
  width: 75% !important;
}

.span8 {
  width: 66.66666667% !important;
}

.span7 {
  width: 58.33333333% !important;
}

.span6 {
  width: 50% !important;
}

.span5 {
  width: 41.66666667% !important;
}

.span4 {
  width: 33.33333333% !important;
}

.span3 {
  width: 25% !important;
}

.span2 {
  width: 16.66666667% !important;
}

.span1 {
  width: 8.33333333% !important;
}

/*页面*/
.panel-default {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #21206c;
  box-shadow: 0px 0px 21px 0px rgba(3, 3, 70, 0.8);
  border-radius: 8px;
  padding: 0px 0 20px;

  .page-heading {
    background: #21206c;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #757373;

    h4 {
      margin: 0;
      padding: 13px 10px 13px 20px;
      font-size: 15px;
    }
  }

  .page-body {
    padding: 20px 20px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
}

// 正常表单样式
.form-col {
  float: none;
  margin: auto;

  /* 正常表单样式 */
  .el-form {
    margin-top: 30px;

    .el-form-item {
      margin-bottom: 38px;

      .el-form-item__label {
        color: #fff;
      }
    }

    .el-input__inner {
      background: #060547;
      border: 1px solid #818181;
      color: #fff;
      height: 40px;
      line-height: 40px;
    }

    .el-input__inner::-webkit-input-placeholder {
      color: #fff;
    }

    .el-input__inner::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
    }

    .el-input__inner:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }

    .el-input__inner:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
    }

    .submit {
      text-align: center;

      .el-form-item__content {
        margin-left: 0px !important;
      }
    }

    .el-textarea__inner {
      background: #060547;
      border: 1px solid #818181;
      color: #fff;
    }
    .el-form-item__content {
      .el-checkbox-group {
        .el-checkbox {
          color: #fff;
        }
      }
    }
  }
}

// 表单disabled
.el-input.is-disabled .el-input__inner {
  background-color: #2d2c6d;
  border-color: #818181;
}

// 弹窗表单样式
.el-dialog__body {
  .el-form {
    .el-form-item {
      .el-form-item__label {
        color: #4d4d50;
      }
    }
  }
}
// 菜单下拉icon
.el-submenu__icon-arrow{
  top: 55%;
}

// 搜索
.zzd-table-search {
  position: relative;
  width: 100%;
  padding: 20px;
  color: #fff;

  .el-form-item__label {
    color: #fff;
  }

  .el-form {
    display: table;

    .el-input__inner {
      background: #060547;
      border: 1px solid #818181;
      color: #fff;
      height: 30px;
      line-height: 30px;
    }

    .el-input__inner::-webkit-input-placeholder {
      color: #fff;
    }

    .el-input__inner::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
    }

    .el-input__inner:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }

    .el-input__inner:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
    }




    .submit {
      text-align: center;

      .el-form-item__content {
        margin-left: 0px !important;



      }
    }

    .el-form-item__label {
      line-height: 30px;
    }



    .el-row {
      float: left;
    }
  }

  .search {
    margin-bottom: 20px;
  }

  .search-btn {
    margin-left: 30px;
  }
}
