<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="todoValue">
        <button v-on:click="handleClick">提交</button>
        <ul>
            <todo-item v-bind:content="item" v-bind:index="index" v-for="(item, index) in list" @delete="handleItemDelete"></todo-item>
        </ul>
    </div>
    <script>
        //全局组件
        // Vue.component(
        //     'todoItem',
        //     {
        //         props: [
        //             'content' //v-bind:content="item"
        //         ],
        //         template:"<li>{{content}}</li>",
        //     }
        // )

        //局部组件
        var TodoItem = {
            props: ['content', 'index'],
            template: "<li @click='handleItemClick'>{{content}}</li>",
            methods: {
                handleItemClick: function(){
                    // alert("click")
                    //子组件取父组件的值 此处触发一个delete事件
                    this.$emit("delete",this.index)
                }
            }
        }
        var app = new Vue({
            el: "#app",
            data: {
                list: [],
                todoValue: ""
            },
            components: {
                TodoItem: TodoItem
            },
            methods: {
                handleClick: function () {
                   this.list.push(this.todoValue)
                    this.todoValue = ""
                },
                handleItemDelete: function (index) {
                    this.list.splice(index,1)//删除索引   
                }
            }
        })
    </script>
</body>
</html>